
body {
  margin:50px 0px; padding:0px;
  text-align:center;
  font-size: 12px;
  font-family: arial, geneva, sans-serif;
}

.box h2 {
  margin: 0px;
  margin-bottom: 8px;
  text-align: center;
}

.box {
  margin:0px auto;
  text-align:left;
  padding:15px;
  border:1px dashed #333;
  background-color:#eee;
}

label {
  text-align:right;
  float: left;
  width:130px;
  line-height: 21px;
  height: 21px;
  margin-bottom: 4px;
}

input, textarea {
  margin-left: 10px;
  padding: 2px 4px;
  line-height: 15px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-bottom: 4px;
}

label.check, label.radio {
  position:relative;
  text-align:left;
}

#login-box {
  width: 400px;
}

.listing {
  border-collapse: collapse;
}

.listing td {
  padding: 4px;
}

.even {
  background-color: #eee;
}

.odd {
  background-color: #fff;
}

.err
{
  color: red !important;
  border: 1px dashed red;
}

#feedback {
  margin-bottom: 0.4em;
  margin-top: 0.2em;
  clear: left;
  margin-left: 140px;
}

#feedback span {
  padding: 4px;
  display: block;
  min-height: 10px;
}

#feedback.err span
{
  background: url('/img/error.png') no-repeat;
  background-position: 4px 50%;
  padding-left: 24px;
}


.msg
{
  color: #006 !important;
  border: none;
}

.msg span
{
  background: url('/img/communicating.gif') no-repeat;
  background-position: 1px 0.08em;
  padding-left: 20px;
}

.ok
{
  color: green !important;
  border: 1px dashed green;
}

.ok span
{
  background: url('/img/ok.png') no-repeat;
  background-position: 1px 0.08em;
  padding-left: 20px;
}
